@import "tailwindcss";
body {
  font-family: 'Inter', 'Segoe UI', 'Roboto', -apple-system, sans-serif;
  background-color: #000000;
}
button:active{
  scale: 0.98;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #1e40af #111827;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #111827;
}
*::-webkit-scrollbar-thumb {
  background-color: #1e40af;
  border-radius: 10px;
}